:root {
  --color-button--primary: #d46c41;
  --color-button--secondary: #283c71;
  --color-text--primary: #ffffff;
  --color-text--secondary: #000000;
  --color-secondary: #283c71;
  --color-white: #ffffff;
}
