.bottomMainSection {
  width: 100%;
}

.cardBottomCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem; /* distância entre os cards */
  margin-top: 4rem;
}

.containerBottomSection {
  background: url("../../img/backgroundBottomSection.png");
  background-size: 100% 82.8rem;
  background-repeat: no-repeat;
  background-position: center;

  height: 82.8rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;

  color: var(--color-black);
  padding-top: 4.6rem;
  padding-bottom: 4.6rem;
}

.cardScore {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0;
  list-style: none;
}

.cardScore li {
  display: grid;
  place-items: center;
  text-align: center;
  justify-content: center;

  width: 29.2rem;
  height: 32.8rem;
  border-radius: 1.5rem;
  border: 1px solid #000;
  box-shadow: 0 .4 .4rem rgba(0, 0, 0, 0.25);

  margin: 0;
  padding: 0;
  background-color: #283c71;
}

.point {
  width: 10.2rem;
  height: 10.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.medal {
  width: 10rem;
  height: 15rem;
}

.trophy {
  width: 10rem;
  height: 15rem;
}

li p {
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 2.5rem;
}

.textBottomCenter {
  background-color: #d9d9d999;
  width: 113rem;
  height: 12.4rem;
  border: 0.2rem solid #d46d41;
  border-radius: 1.5rem;
  box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.6rem;
}

.boxText {
  width: 97.4rem;
  height: 9.5rem;
}
.boxText p {
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  font-weight: 600;
  color: #000;
  text-align: center;
}
