/* Reset de links e listas */
a {
  text-decoration: none;
}

/* Container principal */
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

/* Container esquerdo */
.containerLeft {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 6rem;
  padding-left: 2rem;
}

/* Container direito */
.containerRight {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
}

/* Seção inferior do container direito */
.containerRight .bottom-section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
