header {
  width: 100%;
}

.containerHeader{
  max-width: 140rem;
  min-height: 12rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 3.5rem 0 3.5rem;
  background-color: white;
}

.logo {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 5.5rem;
}

.logo a {
  text-decoration: none;
  color: #283c71;
}

.menu {
  padding-top: inherit;
}

.menu ul {
  list-style: none;

  display: flex;
  gap: 5.6rem;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  /* font-style: SemiBold; */
  font-size: 2rem;
}

.menu ul li a {
  text-decoration: none;
  color: #000000;
}

.user-profile a {
  width: 34rem;
  height: 5.6rem;

  background-color: #d46c41;

  border-radius: 1.6rem;

  text-decoration: none;
  font-size: 1.6rem;
  font-family: Epilogue, sans-serif;
  font-weight: 700;
  /* font-style: Bold; */

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile a span {
  margin-left: 1rem;
}

.iconHeader path {
  max-width: 1.4rem;
  height: auto;
  border: 1.5px solid #FFFFFF;
  stroke: #FFFFFF !important;
}

@media (max-width: 1024px) {
  .containerHeader {
    max-width: 102.4rem;
    height: 11.6rem;
    justify-content: space-between;
    padding: 0.9rem 3.2rem;
  }  

  .logo {
    max-width: 19.8rem;
    height: 8.3rem;
  }
}

@media (max-width: 700px) {
  .containerHeader {
    max-width: 700px;
    height: auto;
    justify-content: space-between;
    padding: 0.9rem 3.2rem;
  }

  .logo {
    max-width: 20.7rem;
    height: auto;
    font-size: 4.8rem;
  }

  .user-profile {
    width: 20.1rem;
    height: 4.1rem;

    display: flex;
    justify-self: center;
    gap: 0;   
  }

  .user-profile a {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
  }
}


