.headerHomePage {
  width: 100%;
  background-color: #FFFFFF;
}

.containerHeader{
  width: min(100% - (var(--pad) * 2), var(--container));
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;  
  gap: 1.6rem;
}

.logo {
  margin: 0;
  font-size: 2.2rem;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1;
}

.logo a {
  text-decoration: none;
  color: #283c71;
}

/* .menu {
  padding-top: inherit;
} */

/* .menu ul {
  list-style: none;

  display: flex;
  gap: 5.6rem;

  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 2rem;
} */

/* .menu ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.6rem;
} */

.user-profile {
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.8rem;
  border-radius: 0.7rem;
  background-color: #d46c41;
}

.user-profile a {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  width: fit-content;
  font-size: 1.2rem;
  font-family: Epilogue, sans-serif;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
}

.iconHeader {
  width: 1.4rem;
  height: 1.4rem;
  flex: 0 0 auto;
}

.iconHeader path {
  stroke: #ffffff !important;
  stroke-width: 2;
}

@media (min-width: 700px) {
  .headerHomePage {
    width: 100%;
    background-color: white;
  }

  .containerHeader {
    width: min(100% - (var(--pad) * 2), var(--container));
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 1.6rem;
    gap: 1.6rem;
  } 

  .logo a {
    font-size: 3.6rem;
    font-weight: 700;
  }
  .user-profile {
    padding: 0.8rem 3rem;
    border-radius: 1.6rem;
    background-color: #d46c41;
  }
  
  .user-profile a {
    gap: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .iconHeader {
    width: 2rem;
    height: auto;
    flex: 0 0 auto;
  }

  .iconHeader path {
    stroke: #ffffff !important;
    stroke-width: 3;
  } 
}

@media (min-width: 1024px) {
  .logo a {
    font-size: 5.5rem;
  }

  .user-profile {
    padding: 0.5rem 0.1.5rem;
    border-radius: 1.6rem;
    background-color: #d46c41;
  }

  .user-profile a {
    gap: 0.5rem;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
  }

  .iconHeader {
    width: 2rem;
    height: auto;
    padding-top: .3rem;
  }
}

@media (min-width: 1400px) {
  .containerHeader {
    width: 100%;
    min-height: 11.8rem;
    padding: 3.2rem;
  }

  .user-profile {
    min-width: 34rem;
    min-height: 5.6rem;
  }
}

