:root {
  --color-black: #000000;
  --color-blue-dark: #283c71;
}
main {
  width: 100%;
}

.topMainSection {
  background: url("../../img/image 27.png") center/cover no-repeat;
  width: 100%;
}

.containerTopMainSection {
  max-width: 140rem;
  min-height: 93.6rem;
  /* min-height: 100vh; */
  margin: 0 auto;
  padding: 8rem 20.6rem;
}

.topContentArea {
  max-width: 98.8rem;
  min-height: 14.4rem;
}

.topContentArea p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4.8rem;
  text-align: center;
  color: var(--color-black);

  display: flex;
  justify-self: center;

  width: 99.1rem;
  letter-spacing: 0%;
}


.centerMainSection {
  background: url("../../img/background.png") center/cover no-repeat;
  width: 100%;
}

.containerCenterMainSection {
  max-width: 140rem;
  min-height: 37rem;;
  margin: 0 auto;
  padding: 10.9rem 2.4rem 10.1rem;
  /* gap: 6.4rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstCenterContentArea {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 135.2rem;
  min-height: 15rem;

}

.titleFirstCenterContentArea {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  max-width: 54.2rem;
  min-height: 5.4rem;
  /* padding: 3.2rem; */

  font-weight: 700;
  font-size: 3.6rem;
  font-family: "Poppins", sans-serif;   
  color: #283C71;
}

.textFirstCenterContentArea p {
  max-width: 74.6rem;
  min-height: 12rem;
  font-family: "Poppins", sans-serif; 
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 100%; */
  color: #000000;
  padding: 3.2rem ;
}

.subTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;

  color: var(--color-blue-dark);

  padding-top: 6.9rem;
  padding-bottom: 7.1rem;
  width: fit-content;

  min-height: 4.8rem;
}

.secondCenterContentArea {
  width: 100%;
  padding: 0 9.3rem;
}

.secondCenterContentArea ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.secondCenterContentArea ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 43.2rem;
}

.secondCenterContentArea ul li h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;

  color: var(--color-blue-dark);

  margin-top: 0.6rem;
  margin-bottom: 0.6rem;

  width: max-content;
}

#sosVector {
  padding-top: 0.7rem;
}

.secondCenterContentArea ul li p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: var(--color-black);
  max-width: 38.9rem;
  min-height: 15.7rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

.secondCenterContentArea ul li:nth-child(1) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 0.5rem;
  min-height: 28.7rem; /* altura da borda */
  background: #D46C41;
}

.secondCenterContentArea ul li:nth-child(2) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 0.5rem;
  min-height: 28.7rem; /* altura da borda */
  background: #D46C41;
}

/* Responsividade Tablet */
@media (min-width: 701px) and (max-width: 102.4rem){
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  main {
    width: 100%;
  }


  .topMainSection {
  background: url("../../img/image 27.png") center/cover no-repeat;
  width: 100%;
  }

  .containerTopMainSection {
  max-width: 140rem;
  min-height: 93.6rem;
  margin: 0 auto;
  padding: 5rem;
  text-align: center;
  }

  .topContentArea {
    max-width: 95.3rem;
    margin: 0 auto;
  }

  .topContentArea p {
    font-size: 4.8rem;
    max-width: 90rem;
    min-height: 21.6rem;
    white-space: normal;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }

  .centerMainSection {
    background: url("../../img/background.png") center/cover no-repeat;
    width: 100%;
  }

  .containerCenterMainSection {
    max-width: 102.4rem;
    min-height: 35.5rem;
    margin: 0 auto;
    padding: 4.8rem 2.4rem;
    gap: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .firstCenterContentArea {
    margin: 0 auto;
    display: block;
    text-align: initial;
    max-width: 135rem;
    min-height: 15rem;
    /* padding: 4.8rem 2.4rem; */
  }

  .titleFirstCenterContentArea {
    text-align: center;
    max-width: 54.2rem;
    min-height: 5.4rem;
    margin: 0 auto;
    font-weight: 700;
    font-size: 3.6rem;
    font-family: "Poppins", sans-serif;
    color: #283c71;
    /* gap: 4rem ; */
  }

  .textFirstCenterContentArea p {
    max-width: 74.9rem;
    /* min-height: 12rem; */
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;

    color: #000000;
    padding: 0;
  }

  .subTitle {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.6rem;
    text-align: center;
    max-width: 52.9rem;
    min-height: 5.4rem;
    padding: 0;
    align-content: center;
    color: var(--color-blue-dark);
  }

  .secondCenterContentArea {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0;
}

.secondCenterContentArea ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
}

.secondCenterContentArea ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.secondCenterContentArea ul li:nth-child(2) h2{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  width: 50rem;
  padding: 0;
  margin-bottom: 2rem;

  color: #283c71;

}

#sosVector {
  padding-top: 0.7rem;
}

.secondCenterContentArea ul li:nth-child(1) p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* text-align: center; */
  color: var(--color-black);
  max-width: 38.9rem;
  min-height: 15.7rem;
 
}

.secondCenterContentArea ul li:nth-child(2) p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: var(--color-black);
  max-width: 50rem;
  display: inline;
  padding-right: 10rem;
  min-height: 15.7rem;
  padding: 0;
  margin-top: 1rem;
}

.secondCenterContentArea ul li:nth-child(3) {
display: none;
}

.secondCenterContentArea ul li:nth-child(1) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0rem;
  right: -3rem;
  width: 0.5rem;
  min-height: 28.7rem; /* altura da borda */
  background: #d46c41;
}

.secondCenterContentArea ul li:nth-child(2) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 0rem;
  right: -3rem;
  width: 0.5rem;
  min-height: 28.7rem; /* altura da borda */
  background: #d46c41;
}
}

/* Responsividade Mobile */
@media (max-width: 701px) {

  main {
  width: 100%;
}

.topMainSection {
  background: url("../../img/image 27.png") center/cover no-repeat;
  width: 100%;
}

.containerTopMainSection {
  max-width: 70rem;
  min-height: 63.5rem;
  /* min-height: 100vh; */
  margin: 0 auto;
  padding: 1.6rem 2.4rem 8rem 2.4rem;
}

.topContentArea {
  max-width: 63.8rem;
  margin: 0 auto;
}

.topContentArea p {
    font-size: 3.6rem;     
    max-width: 70rem;      
    padding: 0 1.6rem;    
    white-space: normal;
    text-align: center;
    font-family: "Poppins", sans-serif;  
    
}


.centerMainSection {
  background: url("../../img/background.png") center/cover no-repeat;
  width: 100%;
}

.containerCenterMainSection {
  max-width: 70rem;
  min-height: 28.2rem;
  margin: 0 auto;
  padding: 4.8rem 2.4rem;
  gap: 4rem;
  /* gap: 6.4rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstCenterContentArea {
  margin: 0 auto;
  display: block;
  text-align: initial;
  max-width: 135rem;
  min-height: 15rem;
  /* padding: 4.8rem 2.4rem; */

}

.titleFirstCenterContentArea {
  text-align: center;
  max-width: 54.2rem;
  min-height: 3.6rem;
  margin: 0 auto;
  font-weight: 700;
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;   
  color: #283C71;
  /* gap: 4rem ; */
}

.textFirstCenterContentArea p {
  max-width: 48rem;
  /* min-height: 12rem; */
  font-family: "Poppins", sans-serif; 
  font-weight: 500;
  font-size: 1.6rem;
  margin: 0 auto;

  color: #000000;
  padding: 0;
  
  
}

.subTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  max-width: 35.3rem;
  min-height: 3.6rem;
  padding: 0;
  align-content: center;
  color: var(--color-blue-dark);
}

.secondCenterContentArea {
  width: 100%;
}

.secondCenterContentArea ul {
  display: grid;
  justify-content: center;
  list-style: none;
}
.secondCenterContentArea ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 44.7rem;
}

.secondCenterContentArea ul li h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;

  color: var(--color-blue-dark);
  padding: 0;
  margin: 0 auto;
  display: flex ;

  width: max-content;
}

.secondCenterContentArea ul li:nth-child(1) img {
  width: 3.6rem;
  height: 2.8rem;
  margin: 0 auto;
}

.secondCenterContentArea ul li:nth-child(2) img {
  width: 4.023rem;
  height: 2.8rem;
  margin: 0 auto;

}

.secondCenterContentArea ul li:nth-child(3) img {
  width: 3.5rem;
  height: 2.8rem;
  margin: 0 auto;
  
}

#sosVector {
  padding-top: 0.2rem;
}

.secondCenterContentArea ul li p {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-black);
  max-width: 39.9rem;
  min-height: 15.7rem;
  padding-top: 4rem;

}

.secondCenterContentArea ul li:nth-child(2) p{
  max-width: 43.9rem;
}

.secondCenterContentArea ul li:nth-child(3) p{
  max-width: 29.9rem;
}

.secondCenterContentArea ul li:nth-child(1) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(1)::after {
  content: none;
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 0.5rem;
  min-height: 28.7rem; /* altura da borda */
  background: #D46C41;
}

.secondCenterContentArea ul li:nth-child(2) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(2)::after {
  content: none;
  position: absolute;
  top: 0rem;
  right: -1rem;
  width: 0.5rem;
  min-height: 28.7rem; /* altura da borda */
  background: #D46C41;
}


}