:root {
  --color-black: #000000;
  --color-blue-dark: #283c71;
}
main {
  width: 100%;
}

.topMainSection {
  background: url("../../img/image 27.png") center/cover no-repeat;
  width: 100%;
}

.containerTopMainSection {
  max-width: 140rem;
  min-height: 93.6rem;
  /* min-height: 100vh; */
  margin: 0 auto;
  padding: 8rem 20.6rem;
}

.topContentArea {
  max-width: 98.8rem;
  min-height: 14.4rem;
}

.topContentArea p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4.8rem;
  text-align: center;
  color: var(--color-black);

  display: flex;
  justify-self: center;

  width: 99.1rem;
  letter-spacing: 0%;
}


.centerMainSection {
  background: url("../../img/background.png") center/cover no-repeat;
  width: 100%;
}

.containerCenterMainSection {
  max-width: 140rem;
  min-height: 37rem;;
  margin: 0 auto;
  padding: 10.9rem 2.4rem 10.1rem;
  /* gap: 7.9rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.firstCenterContentArea {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 135.2rem;
  min-height: 15rem;

}

.titleFirstCenterContentArea {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  max-width: 54.2rem;
  min-height: 5.4rem;
  padding: 3.2rem;

  font-weight: 700;
  font-size: 3.6rem;
  color: #283C71;
}

.textFirstCenterContentArea p {
  max-width: 74.6rem;
  min-height: 12rem;
  font-family: "Poppins", sans-serif; 
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 100%; */
  color: #000000;
}

.subTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;

  color: var(--color-blue-dark);

  padding-top: 6.9rem;
  padding-bottom: 7.1rem;
  width: fit-content;
}

.secondCenterContentArea {
  width: 100%;
  padding: 0 9.3rem;
}
.secondCenterContentArea ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.secondCenterContentArea ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 43.2rem;
}

.secondCenterContentArea ul li h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2rem;

  color: var(--color-blue-dark);

  margin-top: 2rem;
  margin-bottom: 1.6rem;

  width: max-content;
}

.secondCenterContentArea ul li p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;

  text-align: center;
  color: var(--color-black);
  width: 36.8rem;
  padding-left: 1rem;
}

.secondCenterContentArea ul li:nth-child(1) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 7.5rem;
  right: -1rem;
  width: 0.5rem;
  height: 20.8rem; /* altura da borda */
  background: #D46C41;
}

.secondCenterContentArea ul li:nth-child(2) {
  position: relative;
  box-sizing: border-box;
}

.secondCenterContentArea ul li:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 7.5rem;
  right: -1rem;
  width: 0.5rem;
  height: 20.8rem; /* altura da borda */
  background: #D46C41;
}